* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    background-color: yellow;


}

.box1 {
    width: 100px;
    height: 100px;
    background-color: rgb(237, 13, 13);
    flex: 1;
    order: 2;
  

}

.box2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    flex: 1;
    order: 1;

}

.box3 {
    width: 100px;
    height: 100px;
    background-color: green;
    flex: 1;
}

// flex-grow, flex-shrink bir integer değer alır.
// flex- grow:0;
// flex-shrink:1;  default değerleri
// flex-basis ise % veya rem , em alır.
// flex : flex-grow (1), flex-shrink (0), flex-basis(auto);
// flex : none
// flex: <'flex-grow'>
// flex : <'flex-basis>
//   ffex : <'flex-grow> <'flex-basis'>
//   flex : <'flex-grow> <'flex-shrink>
//   flex : <'flex-grow>> <'flex-shrink> <'flex-basis'>
//   flex : inherit

