*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    background-color: yellow;

   
}
.box1{
    width: 100px;
    height: 100px;
    background-color: rgb(237, 13, 13);
    flex-grow: 2;
 
}
.box2{
    width: 100px;
    height: 100px; 
    background-color: blue;
    flex-grow: 1;
 
}
.box3{
    width: 100px;
    height: 100px;
    background-color: green;
    flex-grow: 1;
 
}

