* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 200px;
    height: 100vh;
    background-color: yellow;


}

.box1 {
    width: 100px;
    height: 100px;
    background-color: rgb(237, 13, 13);
    flex-shrink: 0;

}

.box2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    flex-shrink: 1;

}

.box3 {
    width: 100px;
    height: 100px;
    background-color: green;
    flex-shrink: 2;

}